<% provide(:title, "About") %>

<main>
    <h1>
      About FoCoCoder</h1>
    <p>
      This blog is a learning exercise and an outlet. I've created it in Ruby on Rains as a learning exercise, and I'll be using it as an outlet and place to record things I've learned that I want to be able to reference later (and don't mind sharing). With a few updates/deviations I've based the authorization system on the <a href="https://www.railstutorial.org/">Rails tutorial</a>, by <a href="http://www.michaelhartl.com/">Michael Hartl</a>. I've been through two editions of that, and the third edition more than once, and I recommend it for learning Rails.</p>
    <p>
      I also found parts of the <a href="http://guides.rubyonrails.org/getting_started.html">Rails Guides</a> and <a href="http://tutorials.jumpstartlab.com/projects/blogger.html">Blogger 2 tutorial</a> from <a href="http://tutorials.jumpstartlab.com/">Jumpstart Lab</a> helpful. No single resource covers everything exactly as you may need it, and many include information that may be somewhat out of date. You need to be ready to pull pieces of many resources together, and refer to the current guides to update code you find online to work with the current Rails versions in some cases. I'd definitely create and experiment freely with simple test applications to try out ideas.</p>
    <p>
      If you're reading this because you're interested in learning how to develop web applications in Ruby on Rails, I recommend starting with Ruby and Rails courses from <a href="http://www.codecademy.com">Codecademy</a>, and the Try Ruby course from <a href="http://www.codeschool.com">Codeschool</a>. If you find you can't get enough after that, I'd tackle the full Ruby path at Codeschool. It's not free, but it's pretty good. I'd also recommend several good great books I've eithe read or referenced, including</p>
    <ul>
      <li>
        <div>
          <strong>The Rails 4 Way (3rd Edition)</strong> 2014<strong> </strong>by Obie Fernandez and Kevin Faustino</div>
      </li>
      <li>
        <div>
          <strong>Practical object-oriented design in Ruby : an agile primer </strong>2013 by Sandi Metz</div>
      </li>
      <li>
        <div>
          <strong>Effetive Ruby: 48 Specific Ways to Write Better Ruby</strong> 2015 by Peter J. Jones</div>
      </li>
      <li>
        <div>
          <strong>Crafting Rails 4 Applications </strong>2013 by Jos&eacute; Valim</div>
      </li>
      <li>
        <div>
          <strong>Rails 4 Test Prescriptions: Build a Healthy Codebase</strong> 2014 by Noel Rappin</div>
      </li>
    </ul>

</main>