<% provide(:title, "About") %>

<main>
  <h1>About Focoblog</h1>
  <p>I created this blog partly as an exercise in solidifying Ruby on Rails skills,
  and partly because I've periodically enjoyed blogging. I borrowed the user
  authentication system, a few updates/deviations from the 
  <a href="https://www.railstutorial.org/">Rails tutorial</a>, by 
  <a href="http://www.michaelhartl.com/">Michael Hartl</a>. I recommend the Hartl 
  Rails tutorial to anyone interested in more than a superficial introduction 
  to Ruby on Rails.</p>

  I also found parts of the 
  <a href="http://guides.rubyonrails.org/getting_started.html">Rails Guides</a> 
  and <a href="http://tutorials.jumpstartlab.com/projects/blogger.html">Blogger 2 
  tutorial</a> from <a href="http://tutorials.jumpstartlab.com/">Jumpstart Lab</a> 
  helpful. No single resource covered all of the security issues, or adding cool
  features like markdown to the blog, so I also used a variety of other resources
  and deviated liberally from the tutorials where needed to add cool functionality. 
  I tried to do as much as possible without employing gems, because over time I've
  found that many of the things that gems make "easier," are pretty easy to do 
  anyway, and doing it yourself helps you learn Ruby and the Rails framework along 
  the way, and gives you more flexibility than some gems would allow you. I'm not 
  anti-gem, but I do find I learn a lot if I challenge myself to accomplish things
  without them.</p>

  <p>If you're reading this because you're interested in learning how to develop
  web applications in Ruby on Rails, I can also recommend starting with the basic
  Ruby and Rails courses from <a href="http://www.codecademy.com">Codecademy</a>, 
  and the Try Ruby course from <a href="http://www.codeschool.com">Codeschool</a>.
  If you find you can't get enough after that, then I also recommend the fully Ruby
  Path from codeschool, though you'll need to pay for access to that (and if you do,
  you might as well run through their git/github path, and consider some of their
  javascript/frontend courses).
  </p>
</main>