<% provide(:title, "Help") %>

<main>
  <h1>fococoder - Help Page</h1>
  <p>Articles and Comments on this blog employ markdown for styling. After saving,
  the markdown is saved, and rendered when viewed as HTML, thanks to the 
  <a href="http://kramdown.gettalong.org/index.html">kramdown</a> library. For a 
  good reference on markdown syntax for styling posts and comments, see the kramdown 
  <a href="http://kramdown.gettalong.org/quickref.html">Quick Reference</a>. Markdown 
  is increasingly supported by blog engines and is in use on a variety of services, 
  particularly those catering to the needs of developers. 
  </p>
</main>