<% provide(:title, "Help") %>

<main>
  <h1>Help Page</h1>
  <p>Articles and Comments on this blog employ markdown for styling. The markdown written by the author is saved in the blog's database, then later retrieved upon request and converted to HTML before being served to the reader/client in assembled views/pages. The conversion to HTML on the front end is handled by the <a href="http://kramdown.gettalong.org/index.html">kramdown</a> library. For a reference on markdown syntax for styling posts and comments to be interpreted by Kramdown, see the kramdown <a href="http://kramdown.gettalong.org/quickref.html">Quick Reference</a>.
  </p>
</main>