  <aside class="row">
    <div class="col-md-3 col-sm-4 col-md-offset-1 hidden-xs">
      <br>
      <section class="user_info">
        <div>
          <%= gravatar_for User.first, size: 100 %>
          <h4><%#= current_user.name %>
            <%= @article.present? ? User.find(@article.user_id).name : User.first.name %>
          </h4>
        </div>
      </section>
    </div>
  </aside>
