<% provide(:title, "Edit Article") %>

<main class="row">
  <article class="col-md-8 col-md-offset-2">
  <%= form_for(@article) do |f| %>

  <%= render 'fields', f: f %>

  <%= f.submit "Update Article", class: 'btn btn-primary' %>

  <% end %>
  </article>
</main>