<% provide(:title, 'Article Index') %>

<main class="row">
  <div class="col-md-8 col-sm-12">
  <h1>Article Index</h1>
    <div class="text-left">
      <%= (link_to "New Article", new_article_path, class: "btn btn-default") if logged_in? && current_user.admin? %>
    </div>

<%= render 'articles' %>

  </div>

<%= render 'aside' %>

</main>
