<% provide(:title, 'Article Index') %>

<main class="row">
  <article class="col-md-8 col-sm-8">
  <h1 class="center">Article Index</h1>
    <div class="text-left">
      <%= (link_to "New Article", new_article_path, class: "btn btn-default") if logged_in? && current_user.admin? %>
    </div>

<%= render 'articles' %>

  </article>

<%= render 'aside' %>

</main>
