<% provide(:title, "Edit user") %>

<section class="row">
<h1 class="center">Update your profile</h1>
    <div class="col-md-4 col-md-offset-2">
      <div class="gravatar_edit center">
        <div><%= gravatar_for @user, size: 250 %></div>
        <a href="http://gravatar.com/emails" target=_blank>change</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="formbox">

        <%= form_for(@user) do |f| %>
          <%= render 'fields', f: f %>
          <%= f.submit "Save changes", class: "btn btn-primary" %>
        <% end %>

      </div>
    </div>
</section>