    <div class="md_editor">
      <a href="#insert_h1" class="btn btn-sm btn-default" id="add_h1">h1</a>
      <a href="#insert_h2" class="btn btn-sm btn-default" id="add_h2">h2</a>
      <a href="#insert_h3" class="btn btn-sm btn-default" id="add_h3">h3</a>
      <a href="#insert_h4" class="btn btn-sm btn-default" id="add_h4">h4</a>
      <a href="#insert_h5" class="btn btn-sm btn-default" id="add_h5">h5</a>
      <a href="#insert_h6" class="btn btn-sm btn-default" id="add_h6">h6</a>
      <a href="#insert_em" class="btn btn-sm btn-default" id="add_em">I</a>
      <a href="#insert_strong" class="btn btn-sm btn-default" id="add_strong">B</a>
      <a href="#insert_paragraf" class="btn btn-sm btn-default" id="add_paragraph">P</a>
      <a href="#insert_blockquote" class="btn btn-sm btn-default" id="add_blockquote">BQt</a>
      <a href="#insert_ul" class="btn btn-sm btn-default" id="add_unord_list">UL</a>
      <a href="#insert_ol" class="btn btn-sm btn-default" id="add_ord_list">OL</a>
      <a href="#insert_link" class="btn btn-sm btn-default" id="add_link">A</a>
    </div>    
