<% provide(:title, "Tag Index") %>

<main>
  <h1>All Tags</h1>
  <div class="tags">
    <% if @tags.present? %>
      <table style="width: 100%;">
      <tbody>
      <% @tags.each do |tag| %>
        <tr>
          <td class="text-right" style="width: 15%;border-right: 1px solid black;">
            <div class="tags">
              <small>
                <%= link_to "#{tag.name.capitalize} (#{tag.articles.length})", tag_path(tag), class: "btn btn-sm btn-info" %>
                <% if logged_in? && current_user.admin %>
                  <%= link_to 'del', tag_path(tag), method: :delete, style: "margin-right: 20px",
                              data: { confirm: 'Delete Tag... Are you sure?' } %>
                <% end %>
              </small>
            </div>
          </td>
          <td style="max-width: 80%;overflow: auto;"><div style="width:<%= tag.articles.count * 10 %>px;background-color: blue;height: 15px;"></div></td>
        </tr>
      <% end %>
      </tbody></table>
    <% end %>
  </div>
</main>

