<% provide(:title, "Tag: #{@tag.name}") %>

<main class="row">
  <div class="col-md-8 col-sm-12">
  <h1>Articles Tagged with "<%= @tag.name.capitalize %>"</h1>

<%= render 'articles/articles' %>
    
  </div>
</main>