@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #aaaaaa;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
  font-size: 18px;
  .container {
    max-width: 1100px;
  }
}

main {
  min-height: 600px;
}
section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

small {
  font-size: 0.7em;
  color: $gray;
}

.center {
  text-align: center;
}

.back_link {
  font-size: 0.95em;
  font-weight: bold;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: $gray;
}

h1 {
  font-size: 1.8em;
  font-weight: normal;
  margin-bottom: 20px;

}

h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
}

p {
  font-size: 1.0em;
  line-height: 1.5em;
  margin-bottom: 1.2em; 
}

ul, ol {
  margin-bottom: 1.2em;
}

/* header */

header {
  #logo {
    float: left;
    margin-right: 10px;
    font-size: 1.8em;
    color: white;
    font-weight: bold;
    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.navbar-nav li a {
  line-height: 32px;
  padding-top: 8px;
  padding-bottom: 5px;
}
/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    font-size: 0.9em;
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  #fixed_sidebar {
    position:fixed;
    width: 220px;
    max-width: 220px;
  }
  section.user_info {
    margin-top: 70px;
    text-align: center;
    .gravatar {
      margin-bottom: 10px;
    }
  }
  section.author_info {
    margin-top: 70px;
    text-align: center;
  }
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: center;
      margin-bottom: 3px;
      margin-top: 0px;
    }
    .bio {
      font-size: 0.9em;
    }
  }
}

/* Gravatar general */

.gravatar {
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10%
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  @include box_sizing;
  &.btn {
    margin-top: 10px;
  }
}
/*
input {
  height: auto !important;
}
*/
label {
  margin: 5px 0px 0px 0px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 0px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: 0px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
  margin-top: 5px;
}

.article_form {
  textarea {
    min-height: 300px;
  }
}

.formbox {
  width: 300px;
  margin: 0 auto;
}

.login{
  input {
    margin-top: 15px;
  }
}

#form_reset {
  margin-top: 10px;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Articles Views */

#articles {
  list-style: none;
  margin: 0;
  h2 {
    font-weight: normal;
    color: $gray-dark;
    margin-bottom: 0;
  }
  li {
    overflow: auto;
    padding: 5px 0;
  }
}


#article, #comments {
  height: 100%;
  max-width: 100%;
  h1 {
    margin-bottom: 0.1em;
    font-weight: bold;
    &.article_title {
      font-weight: normal;
    }
  }
  h2 {
    margin-bottom: 0.5em;
    font-weight: bold;
  }
  img {
    max-width: 100%;
    overflow-y: scroll;
    margin-bottom: 0.5em;
  }
  blockquote {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e5e5e5;
    color: $gray-dark;
  }
  .panel-inset {
    background-color: #ccc;
    padding: 10px 20px 5px 20px;
    margin-bottom: 2.0em;
    border-radius: 5px;
  }
  .highlighter-coderay {
    min-width: 100%;
    overflow-y: scroll;
  }
}

.CodeRay {
  margin-bottom: 0.5em;
  min-width: 100%;
  .line-numbers {
    margin-right: 10px;
    text-align: right;
    width: 40px;
    a {
      color: $gray-lighter;
    }
    pre {
      background-color: $gray;
    }
  }
  .code pre {
    background-color: #e5e5e5;
  }
}


.article-meta, .md_editor, .tags {
  .btn-info, .btn-default {
    padding: 0px 5px;
    margin: 4px 0px;
    min-width: 20px;
    &:hover {
      background-color: $gray;
      border-color: $gray;
      color: $gray-lighter;
    }
  }
}

/* Comments */

#comments {
  .comment {
    border-top: 1px solid #dddddd;
    padding: 10px 5px 0px 10px;
    .comment-meta {
      font-size: 0.9em;
      color: $gray;
    }
    .comment-author {
      color: #000;
      font-weight: bold;
    }
    .comment-body {
      font-size: 0.9em;
      padding: 5px;
    }
  }
  .panel {
    padding: 10px;
    background-color: #ddd;
    border-radius: 5px;
  }
}

/* Pagination */

.pagination {
  font-size: 0.95em;
  margin: 0px;
  li a {
    color: $gray;
    border: none;
    padding: 0px 6px;
    &:hover {
      color: $gray-darker;
    }
  }
  .active a {
    border-radius: 50%;
    background-color: $gray;
    &:hover {
      background-color: $gray-darker;
    }
  }
}

#previewModal {
  .modal-dialog{
    max-width: 768px;
    width: 95%;
  }
  .modal-content {
    max-height: 95vh;
    overflow: auto;
  }
  .modal-title{
    border-bottom: 1px solid $gray-medium-light;
  }
  .modal-body{
    padding-top: 0px;
  }
}